// Reset
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    font-family: 'worksans-light', sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

input,
select {
    vertical-align: middle;
}

img {
    display: block;
    width: 100%;
}

a {
    color: #000;
}

.success {
    color: green;
}

.error {
    color: red;
}